.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  max-width: 425px;
  min-height: 45vh;
  margin: 0 auto;
  font-size: 0.75rem;
  text-align: center;
  color: var(--red);
}
