.features {
  padding: 4rem 0;
  background-color: #eee;
}

.features-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  margin: 1rem 0;
}

.feature-box {
  width: 100%;
  max-width: 325px;
  margin: 1rem 0;
  padding: 2rem 1rem;
  background-color: var(--blue);
  color: var(--white);
  text-align: center;
  border-radius: 0.5rem;
  transition: var(--transition-duration);
}

.feature-box:hover {
  background-color: var(--blue-hover);
  color: var(--black);
}
